@page "/login"
@inject IJSRuntime JSRuntime
@inject FirebaseAuthService AuthService
@inject IUsuarioService UsuarioService

<div class="auth-container">
    <div class="auth-content">
        <!--Logo-->
        <div class="brand-logo">
            <img src="/img/logoo1.png" alt="" />
        </div>

        <h1>Inicia sesión en Food Macano</h1>

        @if (!string.IsNullOrEmpty(mensajeError))
        {
            <div class="alert alert-danger">@mensajeError</div>
        }

        @if (!EstaAutenticado)
        {
            <div class="social-login-buttons">
                <button class="social-button google-button" @onclick="IniciarSesionConGoogle">
                    <img src="/img/google.png" alt="Google" />
                    <span>Continuar con Google</span>
                </button>
            </div>

            <div class="divider">
                <hr />
            </div>

            <div class="login-form">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" class="form-control" @bind="usuario.Email" placeholder="Correo electrónico" />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" class="form-control" @bind="usuario.Password" placeholder="Contraseña" />
                </div>

                <button class="login-button" @onclick="IniciarSesion">
                    Iniciar sesión
                </button>
            </div>

            <a href="/restablecer" class="forgot-password">¿Se te ha olvidado la contraseña?</a>
        }

        <div class="register-link">
            <span>¿No tienes cuenta?</span>
            <a href="" @onclick="NavegarARegistro">Registrate a Food Macano</a>
        </div>
    </div>
</div>
<link href="css/alert.css" rel="stylesheet" />
@code {
    private Usuario usuario = new Usuario();
    private bool EstaAutenticado = false;
    private string mensajeError = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        EstaAutenticado = await AuthService.IsUserAuthenticated();
    }

    private async Task IniciarSesion()
    {
        if (string.IsNullOrWhiteSpace(usuario.Email) || string.IsNullOrWhiteSpace(usuario.Password))
        {
            await SweetAlert.FireAsync(new SweetAlertOptions
                {
                    Title = "Error",
                    Text = "Por favor, ingresa tu correo electrónico y contraseña",
                    Icon = SweetAlertIcon.Error,
                    ConfirmButtonText = "Aceptar"
                });
            return;
        }

        try
        {
            var (firebaseId, isEmailVerified) = await AuthService.SignInWithEmailPassword(usuario.Email, usuario.Password);

            if (string.IsNullOrEmpty(firebaseId))
            {
                await SweetAlert.FireAsync(new SweetAlertOptions
                    {
                        Title = "Error",
                        Text = "Correo electrónico o contraseña incorrectos",
                        Icon = SweetAlertIcon.Error,
                        ConfirmButtonText = "Aceptar"
                    });
                return;
            }

            if (!isEmailVerified)
            {
                await SweetAlert.FireAsync(new SweetAlertOptions
                    {
                        Title = "Error",
                        Text = "Por favor, verifica tu correo electrónico antes de iniciar sesión",
                        Icon = SweetAlertIcon.Warning,
                        ConfirmButtonText = "Aceptar"
                    });
                return;
            }

            EstaAutenticado = true;
            var usuarioExistente = await UsuarioService.ObtenerUsuarioPorFirebaseIdAsync(firebaseId);

            if (usuarioExistente == null)
            {
                var nuevoUsuario = new Usuario
                    {
                        FirebaseId = firebaseId,
                        User = usuario.User ?? "NombrePorDefecto",
                        Email = usuario.Email
                    };
                await UsuarioService.CrearUsuarioAsync(nuevoUsuario);
            }

            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "firebaseUserId", firebaseId);

            await SweetAlert.FireAsync(new SweetAlertOptions
                {
                    Title = "¡Bienvenido!",
                    Text = "Has iniciado sesión correctamente",
                    Icon = SweetAlertIcon.Success,
                    Timer = 2500,
                    ShowConfirmButton = false
                });

            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            await SweetAlert.FireAsync(new SweetAlertOptions
                {
                    Title = "Error",
                    Text = "Correo electrónico o contraseña incorrectos",
                    Icon = SweetAlertIcon.Error,
                    ConfirmButtonText = "Aceptar"
                });
            Console.WriteLine($"Error en IniciarSesion: {ex.Message}");
        }
    }

    private async Task IniciarSesionConGoogle()
    {
        mensajeError = string.Empty;

        try
        {
            var (firebaseId, email, displayName) = await AuthService.SignInWithGoogle();

            if (!string.IsNullOrEmpty(firebaseId))
            {
                EstaAutenticado = true;

                var usuarioExistente = await UsuarioService.ObtenerUsuarioPorFirebaseIdAsync(firebaseId);

                if (usuarioExistente == null)
                {
                    string userName = !string.IsNullOrEmpty(displayName)
                        ? displayName
                        : email.Split('@')[0];

                    var nuevoUsuario = new Usuario
                        {
                            FirebaseId = firebaseId,
                            User = userName,
                            Email = email,
                            Password = "defaultPassword",
                            TipoUsuario = TipoUsuarioEnum.Cliente
                        };

                    await UsuarioService.CrearUsuarioAsync(nuevoUsuario);
                }

                await JSRuntime.InvokeVoidAsync("localStorageHelper.setItem", new object[] { "firebaseUserId", firebaseId });

                // Mensaje de éxito
                await SweetAlert.FireAsync(new SweetAlertOptions
                    {
                        Title = "¡Bienvenido!",
                        Text = "Has iniciado sesión con Google correctamente",
                        Icon = SweetAlertIcon.Success,
                        Timer = 2500,
                        ShowConfirmButton = false
                    });

                NavigationManager.NavigateTo("/");
            }
            else
            {
                // Mensaje de error si no se obtiene el firebaseId
                await SweetAlert.FireAsync(new SweetAlertOptions
                    {
                        Title = "Error",
                        Text = "Se cerro la pestaña y no se pudo completó el inicio de sesión con Google",
                        Icon = SweetAlertIcon.Error,
                        ConfirmButtonText = "Aceptar"
                    });
            }
        }
        catch (Exception ex)
        {
            // Mensaje de error en caso de excepción
            await SweetAlert.FireAsync(new SweetAlertOptions
                {
                    Title = "Error",
                    Text = "Ocurrió un error durante la autenticación. Inténtalo más tarde.",
                    Icon = SweetAlertIcon.Error,
                    ConfirmButtonText = "Aceptar"
                });
            Console.WriteLine($"Error en IniciarSesionConGoogle: {ex.Message}");
        }
    }

    private async Task CerrarSesion()
    {
        await AuthService.SignOut();
        usuario = new Usuario();
        EstaAutenticado = false;
        NavigationManager.NavigateTo("/");
    }
    private void NavegarARegistro()
    {
        NavigationManager.NavigateTo("/register");
    }
}
